body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
<<<<<<< HEAD
background-color: orchid;
=======
background-color: teal;
>>>>>>> teal-bg

}

h1 {
<<<<<<< HEAD
    font-size: 13rem;
=======
    font-size: 16rem;
>>>>>>> teal-bg
    font-family: 'Courier New', Courier, monospace;
}

.letter {
    transition: color 1000ms;
}